.header2{
     height: 55px;
     width: 100%;
     display: flex;
     background-color: white;
     text-align: center;
     box-shadow: 0 5px 5px #aaaaaa;
}
.headercontent{
    display: flex;
    margin-left: 14%;
    font-weight: bold;
}
 .headercontent p{
     margin-left: 30px;
 }
 .arrow{
    text-align: center;
    margin-top: 15px;
    margin-left: -15px;
}
/* 
 */
/*  */
.but{
    float: right;
    align-items: center;
    padding-left: 50px;
}
.bt{
    margin:0 10px;
    border: none;
    align-items: center;
    margin-top: 5px;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: #a8aaad;
    font-weight: bold;
}
.btf{
    /* height: 30px;
    width: 100px;
   margin-top: -5px;
   text-align: center;
   background-color: #a8aaad;
   font-weight: bold;
   border-radius: 5px; */
   height: 30px;
   width: 75px;
   margin:0 10px;
    border: none;
    align-items: center;
    margin-top: 5px;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: #a8aaad;
    font-weight: bold;
}