.name{
    text-align: center;
    width: 70%;
    text-align: center;
    margin-left: 15%;
}
.name h4{
    margin-top: -20px;
}
.name p{
    margin-top: -2px;
    font-size: 20px;
    color: blue;
   
}